<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Attendance</title>
    <meta name="viewport" content="width=device-width">
</head>
<body>
    <div style="text-align: center;">
    <h2 align="center">Check attendance</h2>
    <form action="{{ url_for('find')}}" id="myform" 
        enctype="multipart/form-data" method="POST">
            <input type="file" name="imgfile" id="imagefile"/><br><br>
            <input type="submit" />
    </form>
    </div>
    <div style="text-align: center;">
        {% for x in val %}
        <p>{{x}}</p>
        {% endfor %}
    </div>
    <div style="text-align: center;">
    <br><br>
    <a href="{{'add'}}">Add students</a>
    <a href="{{'index'}}">Home</a><br><br>
    </div>
</body>
</html>